<!-- contact and about page -->
<% include ./partials/header %>
<div class="container">
    <div id="aboutDiv">
      <img id="about-pic" src="/img/aboutmepic.jpg">
      <article>
        <h2 class="aboutHeader">ABOUT</h2>
        <p>Hi, my name is Lauren and I am a Web Developer in-training at General Assembly's Web-Development Immersive program in Seattle! I spend 70 to 80 intensely interesting and enlightening hours a week learning Javascript, Node.js, Sequelize, PostgreSQL, HTML5, CSS3, Ruby, Rails, AJAX, Angular, and much more from experienced and talented instructors. food&lt;li&gt; is my first web app and opportunity to marry the skills that I have learned thus far and an idea of my own. If you like what you've seen, have questions, comments, or concerns, please feel free to contact me via any of the methods below. I would love to hear from you!</p>
      </article>

    </div>
<!-- contact section -->
  <article>
    <h2 class="contactHeader">CONTACT</h2>
    <ul class="contact-options">
      <li class="mail"><a href="mailto:lauren.nicole.go@gmail.com"><img class="emailContactIcons" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Email_Shiny_Icon.svg/1024px-Email_Shiny_Icon.svg.png"> lauren.nicole.go@gmail.com</a></i>
      <li class="facebook"><a href="https://www.facebook.com/lauren.go"><img class="contactIcons" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png">My Facebook</a></li>
    </ul>
  </article>
</div>

<% include ./partials/footer %>