<% include ./partials/header %>


<div class="container">
  <div class="col-md-6">
    <div id="currentList">

      <table class="table">
    <% for (var i=0;i< ingredient.length;i++){ %>

      <tr>

      <td><%= ingredient[i].name %></td>
      <td><%= parseFloat(ingredient[i].quantity).toFixed(2) %></td>
      <td><%= ingredient[i].unit %></td>
      <td><%= ingredient[i].department %></td>
      </tr>
    <% } %>
    </table>



    </div>
  </div>

  <div class="col-md-6">

    <div id="addItemForm">
      <div id="addItemHeader">
        <strong>ADD AN ITEM TO YOUR LIST</strong>
      </div>

        <form>

        <label class="addFormLabel">ITEM NAME</label>
        <input type="text" class="form-control addFormBox" id="usernameBox" name="q" placeholder="Enter an item here.">
        <label class="addFormLabel">QTY</label>
        <input type="text" class="form-control addFormBox" id="usernameBox" name="q" placeholder="Enter a qty here.">

        <label class="addFormLabel">UNITS</label>
        <form>
          <select>
            <option>Gal</option>
            <option>Oz</option>
            <option>Cups</option>
            <option>Tbsp(s)</option>
          </select>
        </form>

        <button class="btn" type="submit">ADD TO LIST!</button>

      </form>

    </div>

  </div>

</div>
<% include ./partials/footer %>