<% include ./partials/header %>
<div class="container">
<h2>my Lists</h2>



  <button data-toggle="modal" data-target="#createListModal" class="btn btn-primary">+ New List</button>

  <button class="btn btn-success">+ Add ingredients (click on list)</button>


  <!-- Modal -->
  <div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Please enter a title for your new list.</h4>
        </div>
        <div class="modal-body">
          <!-- ... -->
          <label class="formLabel">NAME YOUR LIST</label>
        <input type="text" class="form-control" id="usernameBox" name="q" placeholder="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Create List!</button>
        </div>
      </div>
    </div>
  </div>

</div>
<% include ./partials/footer %>