<% include ./partials/header %>
<div class="container">
  <h2>my Recipes</h2>

<div id="favoritesField">
  <div class="eachFavorite">
    <% for (i=0; i<favoriteRecipes.length; i++){ %>
      <div class="eachFavoriteImage">
        <img class="myRecipesImage" src= "<%= favoriteRecipes[i].image %>">
      </div>
      <%= favoriteRecipes[i].recipeName %>
      <%= favoriteRecipes[i].source %>

    <% } %>
  </div>
</div>

</div>
<% include ./partials/footer %>